@font-face {
    font-family: "Permanent Marker";
    src: url(./fonts/PermanentMarker.ttf) format("truetype"),
      url(./fonts/PermanentMarker.woff) format("woff");
}
  
  @font-face {
    font-family: "Inter";
    src: url(./fonts/Inter.ttf) format("truetype");
}

body,
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.page {
  font-family: "Inter", sans-serif;
  background: #ffffff;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
}

.header {
    height: 100vh;
    background-color: rgb(2, 9, 38);;
    background-image: url(/images/background-image14.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid rgb(2, 9, 38);
}

.header-title {
    font-family: "Permanent Marker", cursive;
    font-size: 140px;
    line-height: 140px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin: auto;
}


.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 790px;
    margin: 100px auto 50px;
}

.card {
    width: 350px;
    margin-bottom: 60px;
    padding: 45px 50px 70px;
    background-color: #fff;
    box-shadow: 4px 4px 5px rgba(2, 59, 119);
  }

  .card-title {
    font-family: "Permanent Marker", cursive;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .card-text {
    font-size: 16px;
  }

  .card-image {
    width: 100%;
    margin-bottom: 25px;
    object-fit: contain;
  }

.footer {
    min-height: 300px;
    background-color: rgb(2, 9, 38);
    border-top: 3px solid rgb(133, 148, 218);
    display: flex;
}

.footer-author {
    margin: auto;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 3px;
}
